body{
    margin: 0;
    font-family: Arial;
    overflow-x: hidden;
}
#sve{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    width: 230px;
}
header{
    width: 100%;
    border-bottom: 2px rgb(241, 241, 241) solid;
    padding: 5px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_container{
    width: 70%;
}
nav{
    width: 100%;
    border-bottom: 2px rgb(241, 241, 241) solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_container{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav_buttons{
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}
.nav_buttons:hover{
    color: gold
}
main{
    width: 40%;
    border: 2px rgb(241, 241, 241) solid;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(92, 92, 92);
    font-size: 20px;
    text-decoration: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
}
form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.text_inputs{
    width: 100%;
    border-radius: 5px;
    border: 1px rgb(92, 92, 92) solid;
    padding: 2px;
}
#login_gumb{
    margin-top: 30px;
    background-color: gold;
    color: rgb(92, 92, 92);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    width: 80px;
    font-weight: bold;
}
label{
    padding-top: 10px;
}
#registracija_link{
    color: rgb(92, 92, 92);
    text-decoration: none;
}
#registracija_link:hover{
    color: gold;
    text-decoration: none;
}
#poruka{
    color: rgb(255, 90, 90);
    text-align: center;
}
.footer_container{
    width: 70%;
}
footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color:rgb(92, 92, 92);
    padding-top: 7px;
    padding-bottom: 7px;
}
#logo_white{
    width: 140px;
}

@media only screen and (max-width: 900px){
    body{
        margin: 5px;
    }
    .content_container{
        width: 95%;
    }
    .nav_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    main{
        width: 80%;
        border: 2px rgb(241, 241, 241) solid;
        border-radius: 10px;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 40px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}